@import url('./__title/lead__title.css');
@import url('./__subtitle/lead__subtitle.css');
@import url('./__image/lead__image.css');
@import url('./__caption/lead__caption.css');

.lead {
  width: 90vw;
  margin: 48px auto 0;
}

@media (max-width: 768px) {
  .lead {
    width: 100vw;
    margin-top: 88px;
  }
}

@media (max-width: 425px) {
  .lead {
    width: 100vw;
    margin-top: 64px;
  }
}
