@import url('./__title/lead__title.css');
@import url('./__subtitle/lead__subtitle.css');
@import url('./__image/lead__image.css');
@import url('./__caption/lead__caption.css');

.lead {
  max-width: 984px;
  margin: 56px auto 0;
}

@media (max-width: 1024px) {
  .lead {
    max-width: 90.5vw;
    margin-top: 48px;
  }
}

@media (max-width: 768px) {
  .lead {
    max-width: 100vw;
  }
}
