.lead__image {
  object-fit: cover;
  margin-top: 64px;
  width: 100%;
  min-height: 615px;
}

@media (max-width: 1024px) {
  .lead__image {
    margin-top: 56px;
    min-height: 580px;
  }
}

@media (max-width: 768px) {
  .lead__image {
    min-height: 480px;
  }
}

@media (max-width: 425px) {
  .lead__image {
    min-height: 200px;
  }
}
