@import url('./__overlay/cover__overlay.css');
@import url('./__title/cover__title.css');
@import url('./__subtitle/cover__subtitle.css');

.cover {
  min-height: 740px;
  max-width: 1200px;
  margin: 92px auto 0;
  position: relative;
  background: url(../../images/cover-trains.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1024px) {
  .cover {
    min-height: 640px;
  }
}

@media (max-width: 768px) {
  .cover {
    margin-top: 88px;
    min-height: 480px;
  }
}

@media (max-width: 540px) {
  .cover {
    margin-top: 64px;
    max-width: 540px;
    min-height: 300px;
  }
}

@media (max-width: 425px) {
  .cover {
    margin-top: 64px;
    max-width: 320px;
    min-height: 200px;
  }
}
