.cover__overlay {
  color: white;
  position: relative;
  width: 100%;
  min-height: 740px;
  background: #2A2C2F;
  opacity: 0.3;
  transition: all 0.1s linear;
  text-decoration: none;
}

@media (max-width: 1024px) {
  .cover__overlay {
    min-height: 640px;
  }
}

@media (max-width: 768px) {
  .cover__overlay {
    min-height: 480px;
  }
}

@media (max-width: 540px) {
  .cover__overlay {
    min-height: 300px;
  }
}

@media (max-width: 425px) {
  .cover__overlay {
    min-height: 200px;
  }
}
/*
.cover__overlay::before {
  position: relative;
	width: 100%;
  padding-bottom: 54%;
  background: #2A2C2F;
  opacity: 0.3;
  transition: all 1s linear;
} */

.cover__overlay:hover {
  background: #2A2C2F;
  opacity: 0.8;
  transition: all 1s linear;;
}
